{%extends 'dashboards/base.html'%}
{%load static%}
{%block content%}

{% url 'teacher_class_list' as teacher_class_list %}
{% url 'teacher_dashboard' as teacher_dashboard %}
{% url 'select_class_attendance' as select_class_attendance %}
{% url 'grade_student_nav' as grade_student_nav %}
{% url 'annoucements' as annoucements%}
{% url 'teacher_details_page' as teacher_details_page %}
{% url 'Choose_class_to_mark' as Choose_class_to_mark %}





    <!-- SIDEBAR -->
    <section id="sidebar">
        <a href="{{teacher_dashboard}}" class="brand">
            <i class='bx bxs-smile' ></i>
            <span class="text">Teacher</span>
        </a>
        <ul class="side-menu top">
            <li class="{%if request.path == teacher_dashboard%}active{%else%}{%endif%}">
                <a href="{{teacher_dashboard}}">
                    <i class='bx bxs-dashboard' ></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li class="{%if request.path == teacher_class_list%}active{%else%}{%endif%}">
                <a href="{{teacher_class_list}}">
                    <i class='bx bxs-building-house' ></i>
                    <span class="text">My Classes</span>
                </a>
            </li>
            <li class="{%if request.path == select_class_attendance%}active{%else%}{%endif%}">
                <a href="{% url 'select_class_attendance'%}">
                    <i class='bx bx-table' ></i>
                    <span class="text">Create Attendance</span>
                </a>
            </li>
            <li class="{%if request.path == grade_student_nav%}active{%else%}{%endif%}">
                <a href="{{grade_student_nav}}">
                    <i class='bx bxs-edit-alt'></i>
                    <span class="text">Grade Student</span>
                </a>
            </li>
            <li class="{%if request.path == annoucements%}active{%else%}{%endif%}">
                <a href="{{annoucements}}">
                    <i class='bx bxs-volume-full' ></i>
                    <span class="text">Announcements</span>
                </a>
            </li>
            <li class="{%if request.path == Choose_class_to_mark%}active{%else%}{%endif%}">
                <a href="{% url 'Choose_class_to_mark'%}">
                    <i class='bx bxs-calendar-check'></i>
                    <span class="text">Mark Attendance</span>
                </a>
            </li>
        </ul>
        
        <!--  -->

    <ul class="side-menu">
        <li class="{%if request.path == teacher_details_page%}active{%else%}{%endif%}">
            <a href="{%url 'teacher_details_page'%}">
                <i class='bx bxs-user-circle' ></i>
                <span class="text">My Profile</span>
            </a>
        </li>
        <li>
            <a href="{%url 'logout'%}" class="logout">
                <i class='bx bxs-log-out-circle' ></i>
                <span class="text">Logout</span>
            </a>
        </li>
    </ul>
    </section>
    <!-- END OF SIDEBAR -->


    <!-- CONTENT -->
    <section id="content">
        <!-- NAVBAR -->
         <nav>
            <i class='bx bx-menu' style="font-size: 32px; color: rgb(58, 58, 58);"></i>
            <form method="GET" action="{% url 'teacher_search_results_view' %}">
                <div class="form-input">
                    <input type="search" name="query" placeholder="Search students or teachers">
                    <button type="submit" class="search-btn"><i class='bx bx-search'></i></button>
                </div>
            </form>

            <a href="{%url 'teacher_details_page'%}" class="profile">
                <img src="{{ request.user.profile_photo.url }}" alt="Profile Photo">
            </a>
         </nav>
        {%block section%}
        {%endblock section%}
    </section>
    <!-- END OF CONTENT -->

{%endblock content%}