{% extends 'dashboards/all_teacher_pages/base.html' %}
{% load static %}
{% block section %}
{% load custom_filters %}

<div class="m-3 rounded-lg mb-3">
    {% if messages %}
    {% for message in messages %}
    <h3 class="bg-blue-100 text-blue-500 p-3 text-normal font-normal mb-6">{{ message }}</h3>
    {% endfor %}
    {% endif %}
    <p class="text-center p-5 mb-3 rounded-lg font-medium text-gray-600" style="background-color: #F9F9F9;">{{class.name}} STUDENTS</p>
    <div class="order">
        <div class="flex flex-wrap gap-3">
            {%if students%}
            {%for student in students%}
            <a href="{% url 'teacher_class_student_details' student_id=student.user.id %}">
                <div style="width: 150px; height: 220px;" class="p-2 rounded-lg flex item-center justify-center text-center font-medium hover:bg-blue-300 hover:text-white bg-white">
                    <div>
                        <img src="{{student.user.profile_photo.url}}" class="object-cover rounded-lg" style="height: 150px; width: 150px;" alt="{{student.user.first_name}} {{student.user.last_name}}">
                        <p>{{student.user.first_name}} {{student.user.last_name}}</p>
                        <p></p>
                    </div>
                </div>
            </a>
            {%endfor%}
            {%endif%}
        </div>
    </div>

    <p class="text-center p-5 mb-3 rounded-lg font-medium text-gray-600 mt-3" style="background-color: #F9F9F9;">{{class.name}} TEACHERS</p>
    <div class="order">
        <div class="flex flex-wrap gap-3">
            {%if teachers%}
            {%for teacher in teachers%}
            <a href="{% url 'teacher_detail' teacher_id=teacher.user.id%}">
                <div style="width: 150px; height: 220px;" class="p-2 rounded-lg flex item-center justify-center text-center font-medium hover:bg-blue-300 hover:text-white bg-white">
                    <div>
                    <img src="{{teacher.user.profile_photo.url}}" class="object-cover rounded-lg" style="height: 150px; width: 150px;" alt="{{teachers.user.first_name}} {{teachers.user.last_name}}">
                    <p>{{teacher.user.first_name}} {{teacher.user.last_name}}</p>
                </div>
                </div>
            </a>
            {%endfor%}
            {%endif%}
        </div>
    </div>

    <p class="text-center p-5 mb-3 rounded-lg font-medium text-gray-600 mt-3" style="background-color: #F9F9F9;">{{class.name}} TIMETABLE</p>
    <div class="table-data">
    <div>
    <table class="min-w-full py-3 rounded-lg" style="background-color: #F9F9F9;">
        <thead>
            <tr>
                <th class="py-2 px-2 border-b border-r  border-gray-300 text-gray-600">Days</th>
                <th class="py-2 px-2 border-b border-gray-300 text-gray-600">Subjects</th>
                <th class="py-2 px-2 border-b border-gray-300"></th>
                <th class="py-2 px-2 border-b border-gray-300"></th>
                <th class="py-2 px-2 border-b border-gray-300"></th>
                <th class="py-2 px-2 border border-gray-300 text-gray-600">BREAK</th>
                <th class="py-2 px-2 border-b border-gray-300"></th>
                <th class="py-2 px-2 border-b border-gray-300"></th>
                <th class="py-2 px-2 border-b border-gray-300"></th>
            </tr>
        </thead>
        <tbody>
            {% for timetable in timetables %}
            <tr>
                <td class="py-2 px-2 border-b border-r border-gray-400">{{ timetable.day_of_week }}<br>
                    {%if request.user is superuser%}
                    <a href="{%url 'edit_timetable' table_id=timetable.id%}" class="text-blue-500">Edit</a>
                    {%else%}
                    {%endif%}
                </td>
                <td class="p-1 border border-gray-400 ">{{ timetable.subject_one.name }}<br>{{ timetable.subject_one_start_time }}-{{ timetable.subject_one_end_time }}</td>
                <td class="p-1 border border-gray-400 ">{{ timetable.subject_two.name }}<br>{{ timetable.subject_two_start_time }}-{{ timetable.subject_two_end_time }}</td>
                <td class="p-1 border border-gray-400 ">{{ timetable.subject_three.name }}<br>{{ timetable.subject_three_start_time }}-{{ timetable.subject_three_end_time }}</td>
                <td class="p-1 border border-gray-400 ">{{ timetable.subject_four.name }}<br>{{ timetable.subject_four_start_time }}-{{ timetable.subject_four_end_time }}</td>
                <td class="p-1 border border-gray-400 ">BREAK</td>
                <td class="p-1 border border-gray-400 ">{{ timetable.subject_five.name }}<br>{{ timetable.subject_five_start_time }}-{{ timetable.subject_five_end_time }}</td>
                <td class="p-1 border border-gray-400 ">{{ timetable.subject_six.name }}<br>{{ timetable.subject_six_start_time }}-{{ timetable.subject_six_end_time }}</td>
                <td class="p-1 border border-gray-400 ">{{ timetable.subject_seven.name }}<br>{{ timetable.subject_seven_start_time }}-{{ timetable.subject_seven_end_time }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    </div>
    {%if request.user.is_superuser%}
    <p class="text-right p-3 mt-3  font-normal text-white"><a href="{%url 'edit_class' class_id=class.id%}" class="bg-blue-500 p-3 rounded-lg">Edit Class</a></p>
    <p class="text-right p-3 mt-3  font-normal text-white"><a href="{%url 'delete_class' class_id=class.id%}" class="bg-red-500 p-3 rounded-lg">Delete Class</a></p>
    {%else%}
    {%endif%}            
</div>
{%endblock section%}