{% extends 'dashboards/all_teacher_pages/base.html' %}
{% load static %}
{% block section %}
{% load custom_filters %}

<div class="m-3 rounded-lg mb-3">
    <p class="text-center p-5 mb-3 rounded-lg font-medium text-gray-600" style="background-color: #F9F9F9;">{{class.name}} STUDENTS</p>
    <div class="order flex">
        <div class="grid grid-cols sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-3">
            {%if students%}
            {%for student in students%}
            <a href="{% url 'teacher_class_student_details' student_id=student.user.id %}">
                <div class="h-[200px] w-[200px] p-2 rounded-lg" style="background-color: #F9F9F9;">
                    <img src="{{student.user.profile_photo.url}}" class="object-cover rounded-lg" style="height: 200px; width: 200px;" alt="{{student.user.first_name}} {{student.user.last_name}}">
                    <div class="text-center font-medium p-2">
                        <p>{{student.user.first_name}} {{student.user.last_name}}</p>
                    </div>
                </div>
            </a>
            {%endfor%}
            {%endif%}
        </div>
    </div>

    <p class="text-center p-5 mb-3 rounded-lg font-medium text-gray-600 mt-3" style="background-color: #F9F9F9;">{{class.name}} TEACHERS</p>
    <div class="order flex">
        <div class="grid grid-cols sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-3">
            {%if teachers%}
            {%for teacher in teachers%}
            <a href="{% url 'teacher_details_page' teacher_id=teacher.user.id %}">
                <div class="h-[200px] w-[200px] p-2 rounded-lg" style="background-color: #F9F9F9;">
                    <img src="{{teacher.user.profile_photo.url}}" class="object-cover rounded-lg" style="height: 200px; width: 200px;" alt="{{teachers.user.first_name}} {{teachers.user.last_name}}">
                    <div class="text-center font-medium p-2">
                        <p>{{teacher.user.first_name}} {{teacher.user.last_name}}</p>
                    </div>
                </div>
            </a>
            {%endfor%}
            {%endif%}
        </div>
    </div>

    <p class="text-center p-5 mb-3 rounded-lg font-medium text-gray-600 mt-3" style="background-color: #F9F9F9;">{{class.name}} TIMETABLE</p>
    {% if messages %}
    {% for message in messages %}
    <h3 class="bg-blue-100 text-blue-500 p-3 text-normal font-normal mb-6">{{ message }}</h3>
    {% endfor %}
    {% endif %}
    <div class="table-data">
    <div>
    <table class="min-w-full py-3 rounded-lg" style="background-color: #F9F9F9;">
        <thead>
            <tr>
                <th class="py-2 px-2 border-b border-r  border-gray-300 text-gray-600">Days</th>
                <th class="py-2 px-2 border-b border-gray-300 text-gray-600">Subjects</th>
                <th class="py-2 px-2 border-b border-gray-300"></th>
                <th class="py-2 px-2 border-b border-gray-300"></th>
                <th class="py-2 px-2 border-b border-gray-300"></th>
                <th class="py-2 px-2 border border-gray-300 text-gray-600">BREAK</th>
                <th class="py-2 px-2 border-b border-gray-300"></th>
                <th class="py-2 px-2 border-b border-gray-300"></th>
                <th class="py-2 px-2 border-b border-gray-300"></th>
            </tr>
        </thead>
        <tbody>
            {% for timetable in timetables %}
            <tr>
                <td class="py-2 px-2 border-b border-r border-gray-400">{{ timetable.day_of_week }}<br>
                    {%if request.user is superuser%}
                    <a href="{%url 'edit_timetable' table_id=timetable.id%}" class="text-blue-500">Edit</a>
                    {%else%}
                    {%endif%}
                </td>
                <td class="p-1 border border-gray-400 ">{{ timetable.subject_one.name }}<br>{{ timetable.subject_one_start_time }}-{{ timetable.subject_one_end_time }}</td>
                <td class="p-1 border border-gray-400 ">{{ timetable.subject_two.name }}<br>{{ timetable.subject_two_start_time }}-{{ timetable.subject_two_end_time }}</td>
                <td class="p-1 border border-gray-400 ">{{ timetable.subject_three.name }}<br>{{ timetable.subject_three_start_time }}-{{ timetable.subject_three_end_time }}</td>
                <td class="p-1 border border-gray-400 ">{{ timetable.subject_four.name }}<br>{{ timetable.subject_four_start_time }}-{{ timetable.subject_four_end_time }}</td>
                <td class="p-1 border border-gray-400 ">BREAK</td>
                <td class="p-1 border border-gray-400 ">{{ timetable.subject_five.name }}<br>{{ timetable.subject_five_start_time }}-{{ timetable.subject_five_end_time }}</td>
                <td class="p-1 border border-gray-400 ">{{ timetable.subject_six.name }}<br>{{ timetable.subject_six_start_time }}-{{ timetable.subject_six_end_time }}</td>
                <td class="p-1 border border-gray-400 ">{{ timetable.subject_seven.name }}<br>{{ timetable.subject_seven_start_time }}-{{ timetable.subject_seven_end_time }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    </div>
    {%if request.user.is_superuser%}
    <p class="text-right p-3 mt-3  font-normal text-white"><a href="{%url 'edit_class' class_id=class.id%}" class="bg-blue-500 p-3 rounded-lg">Edit Class</a></p>
    <p class="text-right p-3 mt-3  font-normal text-white"><a href="{%url 'delete_class' class_id=class.id%}" class="bg-red-500 p-3 rounded-lg">Delete Class</a></p>
    {%else%}
    {%endif%}

    <p class="text-center p-5 mb-3 rounded-lg font-medium text-gray-600 mt-3" style="background-color: #F9F9F9;">{{class.name}} Attendance Record</p>

    <div class="p-3 rounded-lg" style="background-color: #F9F9F9;">
        <h1 class="text-2xl font-bold mb-4">MONTHLY ATTENDANCE SHEET</h1>
        <table class="min-w-full border-collapse border border-zinc-400 mb-6">
            <thead>
                <tr>
                    <th class="border border-zinc-400 bg-blue-200 p-1">STUDENT NAME</th>
                    {% for day, label, weekday_count in weekdays_in_month %}
                        <th class="border border-zinc-400 bg-{{ label|lower }}-200 p-1">
                            {{ day }}<br>{{ label }}
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                    <tr>
                        <td class="border border-zinc-400 p-1">{{ student }}</td>
                        {% with records=attendance_records|get_item:student.id %}
                            {% if records %}
                                {% for record in records %}
                                <td class="border border-gray-300 p-1">
                                    {% if record.status1 == "A" %}
                                            <i class="fa fa-times text-red-500"></i>
                                        {% elif record.status1 == "P" %}
                                            <i class="fa fa-check text-green-500"></i>
                                        {% elif record.status1 == "D" %}
                                            --
                                        {% else %}
                                            --
                                        {% endif %}
                                    </td>
                                    <td class="border border-gray-300 p-1">
                                        {% if record.status2 == "A" %}
                                            <i class="fa fa-times text-red-500"></i>
                                        {% elif record.status2 == "P" %}
                                            <i class="fa fa-check text-green-500"></i>
                                        {% elif record.status2 == "D" %}
                                            --
                                        {% else %}
                                            --
                                        {% endif %}
                                    </td>
                                    <td class="border border-gray-300 p-1">
                                        {% if record.status3 == "A" %}
                                            <i class="fa fa-times text-red-500"></i>
                                        {% elif record.status3 == "P" %}
                                            <i class="fa fa-check text-green-500"></i>
                                        {% elif record.status3 == "D" %}
                                            --
                                        {% else %}
                                            --
                                        {% endif %}
                                    </td>
                                    <td class="border border-gray-300 p-1">
                                        {% if record.status4 == "A" %}
                                            <i class="fa fa-times text-red-500"></i>
                                        {% elif record.status4 == "P" %}
                                            <i class="fa fa-check text-green-500"></i>
                                        {% elif record.status4 == "D" %}
                                            --
                                        {% else %}
                                            --
                                        {% endif %}
                                    </td>
                                    <td class="border border-gray-300 p-1">
                                        {% if record.status5 == "A" %}
                                            <i class="fa fa-times text-red-500"></i>
                                        {% elif record.status5 == "P" %}
                                            <i class="fa fa-check text-green-500"></i>
                                        {% elif record.status5 == "D" %}
                                            --
                                        {% else %}
                                            --
                                        {% endif %}
                                    </td>
                                    <td class="border border-gray-300 p-1">
                                        {% if record.status6 == "A" %}
                                            <i class="fa fa-times text-red-500"></i>
                                        {% elif record.status6 == "P" %}
                                            <i class="fa fa-check text-green-500"></i>
                                        {% elif record.status6 == "D" %}
                                            --
                                        {% else %}
                                            --
                                        {% endif %}
                                    </td>
                                    <td class="border border-gray-300 p-1">
                                        {% if record.status7 == "A" %}
                                            <i class="fa fa-times text-red-500"></i>
                                        {% elif record.status7 == "P" %}
                                            <i class="fa fa-check text-green-500"></i>
                                        {% elif record.status7 == "D" %}
                                            --
                                        {% else %}
                                            --
                                        {% endif %}
                                    </td>
                                    <td class="border border-gray-300 p-1">
                                        {% if record.status8 == "A" %}
                                            <i class="fa fa-times text-red-500"></i>
                                        {% elif record.status8 == "P" %}
                                            <i class="fa fa-check text-green-500"></i>
                                        {% elif record.status8 == "D" %}
                                            --
                                        {% else %}
                                            --
                                        {% endif %}
                                    </td>
                                    <td class="border border-gray-300 p-1">
                                        {% if record.status9 == "A" %}
                                            <i class="fa fa-times text-red-500"></i>
                                        {% elif record.status9 == "P" %}
                                            <i class="fa fa-check text-green-500"></i>
                                        {% elif record.status9 == "D" %}
                                            --
                                        {% else %}
                                            --
                                        {% endif %}
                                    </td>
                                    <td class="border border-gray-300 p-1">
                                        {% if record.status10 == "A" %}
                                            <i class="fa fa-times text-red-500"></i>
                                        {% elif record.status10 == "P" %}
                                            <i class="fa fa-check text-green-500"></i>
                                        {% elif record.status10 == "D" %}
                                            --
                                        {% else %}
                                            --
                                        {% endif %}
                                    </td>
                                    <td class="border border-gray-300 p-1">
                                        {% if record.status11 == "A" %}
                                            <i class="fa fa-times text-red-500"></i>
                                        {% elif record.status11 == "P" %}
                                            <i class="fa fa-check text-green-500"></i>
                                        {% elif record.status11 == "D" %}
                                            --
                                        {% else %}
                                            --
                                        {% endif %}
                                    </td>
                                    <td class="border border-gray-300 p-1">
                                        {% if record.status12 == "A" %}
                                            <i class="fa fa-times text-red-500"></i>
                                        {% elif record.status12 == "P" %}
                                            <i class="fa fa-check text-green-500"></i>
                                        {% elif record.status12 == "D" %}
                                            --
                                        {% else %}
                                            --
                                        {% endif %}
                                    </td>
                                    <td class="border border-gray-300 p-1">
                                        {% if record.status13 == "A" %}
                                            <i class="fa fa-times text-red-500"></i>
                                        {% elif record.status13 == "P" %}
                                            <i class="fa fa-check text-green-500"></i>
                                        {% elif record.status13 == "D" %}
                                            --
                                        {% else %}
                                            --
                                        {% endif %}
                                    </td>
                                    <td class="border border-gray-300 p-1">
                                        {% if record.status14 == "A" %}
                                            <i class="fa fa-times text-red-500"></i>
                                        {% elif record.status14 == "P" %}
                                            <i class="fa fa-check text-green-500"></i>
                                        {% elif record.status14 == "D" %}
                                            --
                                        {% else %}
                                            --
                                        {% endif %}
                                    </td>
                                    <td class="border border-gray-300 p-1">
                                        {% if record.status15 == "A" %}
                                            <i class="fa fa-times text-red-500"></i>
                                        {% elif record.status15 == "P" %}
                                            <i class="fa fa-check text-green-500"></i>
                                        {% elif record.status15 == "D" %}
                                            --
                                        {% else %}
                                            --
                                        {% endif %}
                                    </td>
                                    <td class="border border-gray-300 p-1">
                                        {% if record.status16 == "A" %}
                                            <i class="fa fa-times text-red-500"></i>
                                        {% elif record.status16 == "P" %}
                                            <i class="fa fa-check text-green-500"></i>
                                        {% elif record.status16 == "D" %}
                                            --
                                        {% else %}
                                            --
                                        {% endif %}
                                    </td>
                                    <td class="border border-gray-300 p-1">
                                        {% if record.status17 == "A" %}
                                            <i class="fa fa-times text-red-500"></i>
                                        {% elif record.status17 == "P" %}
                                            <i class="fa fa-check text-green-500"></i>
                                        {% elif record.status17 == "D" %}
                                            --
                                        {% else %}
                                            --
                                        {% endif %}
                                    </td>
                                    <td class="border border-gray-300 p-1">
                                        {% if record.status18 == "A" %}
                                            <i class="fa fa-times text-red-500"></i>
                                        {% elif record.status18 == "P" %}
                                            <i class="fa fa-check text-green-500"></i>
                                        {% elif record.status18 == "D" %}
                                            --
                                        {% else %}
                                            --
                                        {% endif %}
                                    </td>
                                    <td class="border border-gray-300 p-1">
                                        {% if record.status19 == "A" %}
                                            <i class="fa fa-times text-red-500"></i>
                                        {% elif record.status19 == "P" %}
                                            <i class="fa fa-check text-green-500"></i>
                                        {% elif record.status19 == "D" %}
                                            --
                                        {% else %}
                                            --
                                        {% endif %}
                                    </td>
                                    <td class="border border-gray-300 p-1">
                                        {% if record.status20 == "A" %}
                                            <i class="fa fa-times text-red-500"></i>
                                        {% elif record.status20 == "P" %}
                                            <i class="fa fa-check text-green-500"></i>
                                        {% elif record.status20 == "D" %}
                                            --
                                        {% else %}
                                            --
                                        {% endif %}
                                    </td>
                                    <td class="border border-gray-300 p-1">
                                        {% if record.status21 == "A" %}
                                            <i class="fa fa-times text-red-500"></i>
                                        {% elif record.status21 == "P" %}
                                            <i class="fa fa-check text-green-500"></i>
                                        {% elif record.status21 == "D" %}
                                            --
                                        {% else %}
                                            --
                                        {% endif %}
                                    </td>
                                    <td class="border border-gray-300 p-1">
                                        {% if record.status22 == "A" %}
                                            <i class="fa fa-times text-red-500"></i>
                                        {% elif record.status22 == "P" %}
                                            <i class="fa fa-check text-green-500"></i>
                                        {% elif record.status22 == "D" %}
                                            --
                                        {% else %}
                                            --
                                        {% endif %}
                                    </td>
                                {% endfor %}
                            {% else %}
                            <td class="border border-gray-300 p-1">
                                <i class="fa fa-minus text-gray-500"></i> <!-- No record -->
                                </td>
                            {% endif %}
                        {% endwith %}
                    </tr>
                {% endfor %}
            </tbody>
            
        </table>
        
        <a class="text-left py-2 px-3 my-3 font-normal text-white bg-blue-500 rounded-lg mt-5" href="{% url 'update_attendance' class_id=class.id %}" class="btn btn-primary">
            Update Attendance
        </a>
                    
    </div>
                
</div>
{%endblock section%}