{% extends 'dashboards/all_teacher_pages/base.html' %}
{% load static %}
{% block section %}
{% load custom_filters %}


<form method="POST">
    {% csrf_token %}
    <table>
        <thead>
            <tr>
                <th>Student</th>
                <th>Status 1</th>
                <th>Status 2</th>
            </tr>
        </thead>
        <tbody>
            {% for record in attendance_records %}
            <tr>
                <td>{{ record.student }}</td>
                <td>
                    <select name="status1_{{ record.student.id }}" class="custom-select">
                        <option value="P" {% if record.status1 == "P" %}selected{% endif %}>Present</option>
                        <option value="A" {% if record.status1 == "A" %}selected{% endif %}>Absent</option>
                        <option value="D" {% if record.status1 == "D" %}selected{% endif %}>Default</option>
                    </select>
                </td>
                <td>
                    <select name="status2_{{ record.student.id }}" class="custom-select">
                        <option value="P" {% if record.status2 == "P" %}selected{% endif %}>Present</option>
                        <option value="A" {% if record.status2 == "A" %}selected{% endif %}>Absent</option>
                        <option value="D" {% if record.status2 == "D" %}selected{% endif %}>Default</option>
                    </select>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="submit">Save Attendance</button>
</form>



{% endblock section %}
