{% extends 'dashboards/all_teacher_pages/base.html' %}
{% load static %}
{% block section %}

<div class="m-3 text-black rounded-lg">
    <p class="text-center p-5 mb-3 rounded-lg font-medium text-gray-600" style="background-color: #F9F9F9;">Scheme Of Work Table</p>
    {% if messages %}
    {% for message in messages %}
    <h3 class="bg-blue-100 text-blue-500 p-3 text-normal font-normal mb-6">{{ message }}</h3>
    {% endfor %}
    {% endif %}
    <div>
        <table class="min-w-full py-3 rounded-lg" style="background-color: #F9F9F9;">
            <thead>
                <tr>
                    <th class="py-2 px-2 border-2 border-r  border-gray-300 text-gray-600">Week</th>
                    <th class="py-2 px-2 border-2 border-r  border-gray-300 text-gray-600">Subject Topics</th>
                    <th class="py-2 px-2 border-2 border-r  border-gray-300 text-gray-600">Subject Discriptions</th>
                </tr>
            </thead>
            <tbody>
                {% for scheme_of_work in scheme_of_works %}
                {% if request.user == teacher.user and scheme_of_work.subject in teacher_subjects %}
                <tr>
                    <td class="pl-2 border-2 border-gray-300 w-44">{{scheme_of_work.week}}</td>
                    <td class="pl-2 border-2 border-gray-300 w-44">{{scheme_of_work.subject_date}}</td>
                    <td class="pl-2 border-2 border-gray-300 h-28">{{scheme_of_work.subject_topics}}</td>
                </tr>
                {%endif%}
                {%empty%}
                <p>
                    No scheme of work yet
                </p>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <p class="text-center p-5 my-3 rounded-lg font-medium text-gray-600" style="background-color: #F9F9F9;">Scheme Of Work Form</p>
        <form action="" method="post">
            {%csrf_token%}
            <div class="mb-1">
                <label for="">Term</label>
                {{form.term}}
            </div>
            <div class="mb-1">
                <label for="">Week</label>
                {{form.week}}
            </div>
            <div class="mb-1">
                <label for="">Subject</label>
                {{form.subject}}
            </div>
            <div class="mb-1">
                <label for="">Topic</label>
                {{form.subject_date}}
            </div>
            <div class="mb-1">
                <label for="">Topic Description</label>
                {{form.subject_topics}}
            </div>
            <button type="submit" class="text-white bg-blue-500 py-2 px-6 rounded-lg">Save</button>
        </form>
    </div>
</div>


{%endblock section%}