{%extends 'dashboards/base.html'%}
{%load static%}
{%block content%}

{% url 'teacher_class_list' as teacher_class_list %}
{% url 'teacher_dashboard' as teacher_dashboard %}
{% url 'annoucements' as annoucements%}
{% url 'grade_student_nav' as grade_student_nav %}
{% url 'teacher_details_page' as teacher_details_page%}
{% url 'Choose_class_to_mark' as Choose_class_to_mark %}
{%url 'scheme_of_work_class' as scheme_of_work_class%}


    <!-- SIDEBAR -->
    <section id="sidebar">
        <a href="" class="brand">
            <i class='bx bxs-smile' ></i>
            <span class="text">Teacher</span>
        </a>
        <ul class="side-menu top">
            <li class="{%if request.path == teacher_dashboard%}active{%else%}{%endif%}">
                <a href="{{teacher_dashboard}}">
                    <i class='bx bxs-dashboard' ></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li class="{%if request.path == teacher_class_list%}active{%else%}{%endif%}">
                <a href="{{teacher_class_list}}">
                    <i class='bx bxs-building-house' ></i>
                    <span class="text">My Classes</span>
                </a>
            </li>
            <li class="{%if request.path == select_class_attendance%}active{%else%}{%endif%}">
                <a href="{% url 'select_class_attendance'%}">
                    <i class='bx bx-table' ></i>
                    <span class="text">Create Attendance</span>
                </a>
            </li>
            <li class="{%if request.path == grade_student_nav%}active{%else%}{%endif%}">
                <a href="{{grade_student_nav}}">
                    <i class='bx bxs-edit-alt'></i>
                    <span class="text">Grade Student</span>
                </a>
            </li>
            <li class="{%if request.path == annoucements%}active{%else%}{%endif%}">
                <a href="{{annoucements}}">
                    <i class='bx bxs-volume-full' ></i>
                    <span class="text">Announcements</span>
                </a>
            </li>
            <li class="{%if request.path == Choose_class_to_mark%}active{%else%}{%endif%}">
                <a href="{% url 'Choose_class_to_mark'%}">
                    <i class='bx bxs-calendar-check'></i>
                    <span class="text">Mark Attendance</span>
                </a>
            </li>
            <li class="{% if request.path == scheme_of_work_class %}active{% endif %}">
                <a href="{{scheme_of_work_class}}">
                    <i class='bx bxs-book'></i>
                    <span class="text">Scheme of Work</span>
                </a>
            </li>
        </ul>
        <!--  -->
        <ul class="side-menu">
            <li class="{%if request.path == teacher_details_page%}active{%else%}{%endif%}">
                <a href="{%url 'teacher_details_page'%}">
                    <i class='bx bxs-user-circle' ></i>
                    <span class="text">My Profile</span>
                </a>
            </li>
            <li>
                <a href="{%url 'logout'%}" class="logout">
                    <i class='bx bxs-log-out-circle' ></i>
                    <span class="text">Logout</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- END OF SIDEBAR -->


    <!-- CONTENT -->
    <section id="content">
        <!-- NAVBAR -->
         <nav>
            <i class='bx bx-menu' style="font-size: 32px; color: rgb(58, 58, 58);"></i>
            <form method="GET" action="{% url 'teacher_search_results_view' %}">
                <div class="form-input">
                    <input type="search" name="query" placeholder="Search students or teachers">
                    <button type="submit" class="search-btn"><i class='bx bx-search'></i></button>
                </div>
            </form>
            <a href="#" class="notification" id="notificationBell">
                <i class='bx bxs-bell'></i>
                <span class="num">{{ unread_notifications_count }}</span>
            </a>

            <div class="notification-dropdown" id="notificationDropdown" style="display: none;">
                <h2>Notifications</h2><br>
                {% if all_notifications %}
                    <ul>
                        {% for notification in all_notifications %}
                            <li class="border-b-2 border-white pb-1">
                                <p>{{ notification.message }}</p>
                                <small>{{ notification.created_at|date:"Y-m-d H:i" }}</small>
                                <form action="{% url 'delete_notification' notification.id %}" method="post" style="display:inline;">
                                    {% csrf_token %}
                                    <button type="submit" class="delete-notification pl-1" title="delete"><i class="fa-solid fa-trash-can"></i></button>
                                </form>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No notifications</p>
                {% endif %}
            </div>

            
            <a href="{%url 'teacher_details_page' %}" class="profile">
                <img src="{{ request.user.profile_photo.url }}" alt="Profile Photo">
            </a>
         </nav>
        <!-- END OF NAVBAR -->
        <!-- MAIN -->
        <main>
            <div class="head-title">
                <div class="left">
                    <h1>Dashboard</h1>
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">Dashboard</a>
                        </li>
                        <li><i class='bx bx-chevron-right'></i></li>
                        <li>
                            <a class="active" href="#">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
            <ul class="box-info">
                <li>
                    <i class='bx bxs-building-house' ></i>
                    <span class="text">
                        <h3>{{classes_count}}</h3>
                        <p>Total Classes</p>
                    </span>
                </li>
                <li>
                    <i class='bx bxs-user-rectangle'></i>
                    <span class="text">
                        <h3>{{all_teachers}}</h3>
                        <p>Total Teachers</p>
                    </span>
                </li>
            </ul>
            <div class="table-data">
                <div class="order">
                    {% if messages %}
                    {% for message in messages %}
                    <h3 class="bg-blue-100 text-blue-500 p-3 text-normal font-normal mb-6">{{ message }}</h3>
                    {% endfor %}
                    {% endif %}
                    <h2 id="welcome">WELCOME {{ user.first_name|upper }}</h2>
                    <div id="welcome">
                        <div>
                            <h1>HELLO {{ user.first_name|upper }} WELCOME TO YOUR SCHOOL DASHBOARD</h1>
                        </div>
                    </div>
            </div>
            <div id="dialog" title="Todos Tasks">
                <form action="" method="post">
                    {%csrf_token%}
                    <p class="md:text-lg text-md font-medium text-gray-700 mb-1">{{forms.name.label_tag}}</p>
                    {{forms.name}}
                    <button class="bg-blue-500 hover:bg-blue-300 text-white py-1 px-2 rounded-lg md:text-lg text-normal md:font-medium font-normal mb-1 mt-3" type="submit"><i class="fa-solid fa-cloud-arrow-up"></i><span class="pl-1">Create task</span></button>
                </form>
            </div>
            <div class="todo">
                <div class="head">
                    <h3>Todos</h3>
                    <i class='bx bx-plus' title="add todo task"></i>
                    <i class='bx bx-filter'></i>
                </div>
                <ul class="todo-list">
                    {% if task %}
                        {% for tasks in task %}
                            <li class="completed">
                                <p>{{ tasks.name }}</p>
                                <a href="{% url 'delete_teacher_todo' task_id=tasks.id %}" title="delete todo task">
                                    <i class="fa-solid fa-trash-can" style="color: #e01a1a;"></i>
                                </a>
                            </li>
                        {% empty %}
                            <li class="completed">
                                <p>No tasks available. Click the plus(<i class='bx bx-plus'></i>) icon to add a task.</p>
                            </li>
                        {% endfor %}
                    {% else %}
                        <li class="completed">
                            <p>No tasks. Click (<i class='bx bx-plus'></i>) the plus icon to add a task.</p>
                        </li>
                    {% endif %}
                </ul>                
            </div>
            </div>
        </main>
        <!-- END OF MAIN -->
    </section>
    <!-- END OF CONTENT -->

{%endblock content%}