{% extends 'dashboards/all_teacher_pages/base.html' %}
{% load static %}
{% block section %}
<p class="text-center p-5 mb-3 rounded-lg font-medium text-gray-600 m-3" style="background-color: #F9F9F9;">{{student|upper}} GRADES {{student.student_class|upper}} STUDENT</p>
    {% if messages %}
    {% for message in messages %}
    <h3 class="bg-blue-100 text-blue-500 p-3 text-normal font-normal mb-6">{{ message }}</h3>
    {% endfor %}
    {% endif %}
<div class="py-8 px-4 m-3 rounded-lg" style="background-color: #F9F9F9;">
    
    <div id="accordion">
        {%if grades%}
        {% for grade in grades %}
            <h3 class="font-medium">
                {{ grade.student }}, {{ grade.term }} Grades {{ grade.year }}, <span class="font-semibold">{{ grade.subject }}</span>
            </h3>
            <div>
                <table>
                    <thead>
                        <tr>
                            <th class="border border-gray-300 px-2 py-3">Student</th>
                            <th class="border border-gray-300 px-2 py-3">Term</th>
                            <th class="border border-gray-300 px-2 py-3">Year</th>
                            <th class="border border-gray-300 px-2 py-3">Subject</th>
                            <th class="border border-gray-300 px-2 py-3">First Test (Score/Out Of)</th>
                            <th class="border border-gray-300 px-2 py-3">Second Test (Score/Out Of)</th>
                            <th class="border border-gray-300 px-2 py-3">Exam (Score/Out Of)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="border border-gray-300 px-2 py-2">{{ grade.student }}</td>
                            <td class="border border-gray-300 px-2 py-2">{{ grade.term }}</td>
                            <td class="border border-gray-300 px-2 py-2">{{ grade.year }}</td>
                            <td class="border border-gray-300 px-2 py-2">{{ grade.subject }}</td>
                            {%if grade.first_test_score == None%}
                            <td class="border border-gray-300 px-2 py-2"></td>
                            {%else%}
                            <td class="border border-gray-300 px-2 py-2">{{ grade.first_test_score }} / {{ grade.out_of }}</td>
                            {%endif%}
                            {%if grade.second_test_score == None%}
                            <td class="border border-gray-300 px-2 py-2"></td>
                            {%else%}
                            <td class="border border-gray-300 px-2 py-2">{{ grade.second_test_score }} / {{ grade.out_of }}</td>
                            {%endif%}
                            {%if grade.exam_score == None%}
                            <td class="border border-gray-300 px-2 py-2"></td>
                            {%else%}
                            <td class="border border-gray-300 px-2 py-2">{{ grade.exam_score }} / {{ grade.out_of }}</td>
                            {%endif%}
                        </tr>
                    </tbody>
                </table>
                {% if request.user == teacher.user and grade.subject in teacher_subjects %}
                        <p class="p-3 font-normal">
                            <a href="{% url 'update_grade_student' student_id=student.id grade_id=grade.id %}" class="bg-blue-500 p-2 rounded-lg hover:bg-blue-300" style="color: white;">
                                <i class="fa-regular fa-pen-to-square fa-sm"></i><span>Update Grade</span>
                            </a>
                        </p>
                        <p class="p-3 font-normal">
                            <a href="{% url 'clear_grades' student_id=student.id grade_id=grade.id %}" class="bg-red-500 p-2 rounded-lg hover:bg-red-300" style="color: white;">
                                <i class="fa-solid fa-trash-can fa-sm"></i> <span>Delete Grade</span>
                            </a>
                        </p>
                    {% endif %}
            </div>
        {% endfor %}
        {%else%}
        <p>No Grades Yet</p>
        {%endif%}
    </div>
</div>
{% endblock section %}
