{%extends 'dashboards/base.html'%}
{%load static%}
{%block content%}

{% url 'student_dashboard' as student_dashboard%}
{% url 'view_class_timetable' as view_class_timetable%}
{% url 'view_student_grades' as view_student_grades%}
{% url 'student_teacher' as student_teacher%}
{% url 'view_class_attendance' as view_class_attendance%}
{% url 'annoucement' as annoucement%}
{% url 'student_details_page' as student_details_page%}



    <!-- SIDEBAR -->
    <section id="sidebar">
        <a href="" class="brand">
            <i class='bx bxs-smile' ></i>
            <span class="text">Student</span>
        </a>
        <ul class="side-menu top">
            <li class="{%if request.path == student_dashboard%} active {%else%}{%endif%}">
                <a href="{%url 'student_dashboard'%}">
                    <i class='bx bxs-dashboard' ></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li class="{%if request.path == view_class_timetable%} active {%else%}{%endif%}">
                <a href="{{view_class_timetable}}">
                    <i class='bx bx-table' ></i>
                    <span class="text">Class Timetable</span>
                </a>
            </li>
            <li class="{%if request.path == student_teacher%} active {%else%}{%endif%}">
                <a href="{{student_teacher}}">
                    <i class='bx bxs-user-rectangle'></i>
                    <span class="text">My Teachers</span>
                </a>
            </li>
            <li class="{%if request.path == view_class_attendance%} active {%else%}{%endif%}">
                <a href="{%url 'view_class_attendance'%}">
                    <i class='bx bxs-book-open' ></i>
                    <span class="text">Attendance Record</span>
                </a>
            </li>
            <li class="{%if request.path == view_student_grades%} active {%else%}{%endif%}">
                <a href="{{view_student_grades}}">
                    <i class='bx bxs-edit-alt'></i>
                    <span class="text">My grades</span>
                </a>
            </li>
        </ul>
        <!--  -->
        <ul class="side-menu">
            <li class="{%if request.path == annoucement%} active {%else%}{%endif%}">
                <a href="{{annoucement}}">
                    <i class='bx bxs-book-reader' ></i>
                    <span class="text">Announcements</span>
                </a>
            </li>
            <li class="{%if request.path == student_details_page%} active {%else%}{%endif%}">
            <a href="{{student_details_page}}">
                <i class='bx bxs-book-reader' ></i>
                <span class="text">My Profile</span>
            </a>
        </li>
        <li>
            <a href="{%url 'logout'%}" class="logout">
                <i class='bx bxs-log-out-circle' ></i>
                <span class="text">Logout</span>
            </a>
        </li>
    </ul>
    </section>
    <!-- END OF SIDEBAR -->


    <!-- CONTENT -->
    <section id="content">
        <!-- NAVBAR -->
         <nav>
            <i class='bx bx-menu'></i>
            <a href="#" class="nav-link">Categories</a>
            <form action="#">
                <div class="form-input">
                    <input type="search" placeholder="Search...">
                    <button type="submit" class="search-btn"><i class='bx bx-search'></i></button>
                </div>
            </form>
            <a href="#" class="notification">
                <i class='bx bxs-bell' ></i>
                <span class="num">8</span>
            </a>
            <a href="{%url 'student_details_page' %}" class="profile">
                <img src="{{ request.user.profile_photo.url }}" alt="Profile Photo">
            </a>
         </nav>
        <!-- END OF NAVBAR -->
        <!-- MAIN -->
        {%block section%}
        {%endblock section%}
        <!-- END OF MAIN -->
    </section>
    <!-- END OF CONTENT -->

{%endblock content%}