{% extends 'dashboards/all_student_pages/base.html' %}
{% load static %}
{% block section %}
<div class="m-3">
    <p class="text-center p-5 mb-3 rounded-lg font-medium text-gray-600 mt-3" style="background-color: #F9F9F9;">{{ class.name }} TEACHERS</p>
    <div class="order flex">
        <div class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-3">
            {% if teacher_subjects %}
                {% for teacher, subjects in teacher_subjects.items %}
                    <a href="{% url 'student_teacher_details' teacher_id=teacher.user.id %}">
                        <div class="p-2 rounded-lg flex items-center justify-center text-center font-medium hover:bg-blue-300 hover:text-white bg-white" style="width: 150px; height: 230px;">
                            <div>
                                {% if teacher.user.profile_photo %}
                                    <img src="{{ teacher.user.profile_photo.url }}" class="rounded-lg" style="height: 150px; width: 150px; object-fit: cover;" alt="{{ teacher.user.first_name }} {{ teacher.user.last_name }}">
                                {% else %}
                                    <img src="{% static 'default-profile.jpg' %}" class="object-cover rounded-lg" style="height: 150px; width: 150px;" alt="Default Profile">
                                {% endif %}
                                <p>{{ teacher.user.first_name }} {{ teacher.user.last_name }}</p>
                                <div>
                                    <ul class="text-center text-sm font-normal">
                                        {% for subject in subjects %}
                                            <li>{{ subject.name }}</li>
                                        {% empty %}
                                            <li>No subjects</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            {% else %}
                <p class="text-center text-gray-600">No teachers available for this class.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock section %}
