{% extends 'dashboards/all_admin_pages/base.html' %}
{% load static %}
{% block section %}

<div class="m-3 text-black rounded-lg">
    {%if request.user.is_superuser%}
    <p class="text-right p-3 mb-3 font-normal text-white"><a href="{%url 'create_all_annoucement'%}" class="bg-blue-500 p-3 rounded-lg hover:bg-blue-300"><i class="fa-solid fa-plus"></i><span class="pl-1">Create Annoucement</span></a></p>
     {%else%}
    {%endif%}
    <p class="text-center p-5 mb-3 rounded-lg font-medium text-gray-600" style="background-color: #F9F9F9;">ALL Annoucement</p>
    {% if messages %}
    {% for message in messages %}
    <h3 class="bg-blue-100 text-blue-500 p-3 text-normal font-normal mb-6">{{ message }}</h3>
    {% endfor %}
    {% endif %}
    <div id="accordion">
        {%if posts%}
        {%for post in posts%}
            <h3 class="font-medium">
                {{post.title}} - {{post.date_posted}}
            </h3>
            <div>
                <h1 class="annoucement_suject">{{post.subject}}</h1>
                <article class="mb-6">
                    {{post.description}}
                </article>
                {%if request.user.is_superuser%}
                <div class="text-white">
                <p class="p-3 font-normal"><a href="{%url 'edit_annoucement' post_id=post.id%}" class="bg-blue-500 p-2 rounded-lg hover:bg-blue-300" style="color: white;"><i class="fa-regular fa-pen-to-square fa-sm"></i><span class="md:pl-1">Edit Annoucement</span></a></p>
                <p class="p-3 font-normal"><a href="{%url 'delete_annoucement' post_id=post.id%}" class="bg-red-500 p-2 rounded-lg hover:bg-red-300" style="color: white;"><i class="fa-solid fa-trash-can fa-sm"></i> <span class="pl-1">Delete Annoucement</span></a></p>
                </div>
                {%else%}
                {%endif%}
            </div>
        {%endfor%}
        {%else%}
        <p class="bg-white text-gray-700 py-4 px-6 m-3 rounded-lg text-center font-medium text-2xl">Sorry, No Annoucements Yet. </p>
        {%endif%}
    </div>
</div>
{% endblock section %}
