{% extends 'dashboards/all_admin_pages/base.html' %}
{% load static %}
{% block section %}
<div class="m-3 text-black rounded-lg">
    <div class="text-center p-5 mb-3 rounded-lg font-medium text-gray-700" style="background-color: #F9F9F9;">
        Assign Teacher {{teacher.user.first_name}} {{teacher.user.last_name}}
        <ul class="text-sm mt-2">
            <li>Subject: {{teacher.subject.all|join:", "}}</li>
            <li>Classes: {{teacher.classes.all|join:", "}}</li>
          </ul>
    </div>
<div class="flex justify-center rounded-lg p-3" style="background-color: #F9F9F9;">
<form action="" method="post">
    {%csrf_token%}
    <div class="mb-4">
        <p class="text-lg font-medium text-gray-700 mb-1">Teacher Name</p>
        <p class="border rounded-lg border-gray-400 p-2 w-full">{{teacher.user.first_name}} {{teacher.user.last_name}}</p>
    </div>
    <div class="mb-4">
        <p class="text-lg font-medium text-gray-700 mb-1">{{form.subjects.label_tag}}</p>
        {{form.subjects}}
    </div>
    <div class="mb-4">
        <p class="text-lg font-medium text-gray-700 mb-1">{{form.class_name.label_tag}}</p>
        {{form.class_name}}
    </div>
    <button class="bg-blue-500 p-2 px-3 text-white rounded-lg hover:bg-blue-300" type="submit"><i class="fa-solid fa-plus"></i><span class="pl-1">Assign Teacher</span></button>
</form>
</div>
</div>
{% endblock section %}