{% extends 'dashboards/all_admin_pages/base.html' %}
{% load static %}
{% block section %}

<!-- Form for Timetable Creation or Editing -->
<div class="m-3 rounded-lg text-black">
 <p class="text-center p-5 mb-3 rounded-lg font-medium text-gray-600" style="background-color: #F9F9F9;">CREATE TIMETABLE</p>
 <p class="text-center p-2 mb-3 rounded-lg font-medium text-gray-600" style="background-color: #F9F9F9;">Create timetable Subject time</p>


 <div class="border-2 border-gray-400 p-1">
    <div class="mb-2">
        <span>First subject <br></span>
    </div>

    <div class="mb-2">
        <span>Start time <br></span>  
        {{form.subject_one_start_time}}
    </div>
    <div class="mb-2">
        <span>End time <br></span>
        {{form.subject_one_end_time}}
    </div>
</div>

<div class="border-2 border-gray-400 p-1">
    <div class="mb-2">
        <span>Second subject <br></span>
    </div>

    <div class="mb-2">
        <span>Start time <br></span>  
        {{form.subject_two_start_time}}
    </div>
    <div class="mb-2">
        <span>End time <br></span>
        {{form.subject_two_end_time}}
    </div>
</div>

<div class="border-2 border-gray-400 p-1">
    <div class="mb-2">
        <span>Third subject <br></span>
    </div>

    <div class="mb-2">
        <span>Start time <br></span>  
        {{form.subject_three_start_time}}
    </div>
    <div class="mb-2">
        <span>End time <br></span>
        {{form.subject_three_end_time}}
    </div>
</div>

<div class="border-2 border-gray-400 p-1">
    <div class="mb-2">
        <span>Fourth subject <br></span>
    </div>

    <div class="mb-2">
        <span>Start time <br></span>  
        {{form.subject_four_start_time}}
    </div>
    <div class="mb-2">
        <span>End time <br></span>
        {{form.subject_four_end_time}}
    </div>
</div>

<div class="border-2 border-gray-400 p-1">
    <div class="mb-2">
        <span class="font-medium">Break Time <br></span>
    </div>
    <div class="mb-2">
        <span>Start time <br></span>  
        {{form.break_start_time}}
    </div>
    <div class="mb-2">
        <span>End time <br></span>
        {{form.break_end_time}}
    </div>
</div>

<div class="border-2 border-gray-400 p-1">
    <div class="mb-2">
        <span>Fifth subject <br></span>
    </div>

    <div class="mb-2">
        <span>Start time <br></span>  
        {{form.subject_five_start_time}}
    </div>
    <div class="mb-2">
        <span>End time <br></span>
        {{form.subject_five_end_time}}
    </div>
</div>

<div class="border-2 border-gray-400 p-1">
    <div class="mb-2">
        <span>Sixth subject <br></span>
    </div>

    <div class="mb-2">
        <span>Start time <br></span>  
        {{form.subject_six_start_time}}
    </div>
    <div class="mb-2">
        <span>End time <br></span>
        {{form.subject_six_end_time}}
    </div>
</div>

<div class="border-2 border-gray-400 p-1">
    <div class="mb-2">
        <span>Seventh subject <br></span>
    </div>

    <div class="mb-2">
        <span>Start time <br></span>  
        {{form.subject_seven_start_time}}
    </div>
    <div class="mb-2">
        <span>End time <br></span>
        {{form.subject_seven_end_time}}
    </div>
</div>


<div class="rounded-lg p-3" style="background-color: #F9F9F9;">
    <form action="{% url 'create_class_timetable' class_id=class_info.id %}" method="post">    
        {%csrf_token%}
    <div class="mb-6">
        {{ class_info.name }}
    </div>
    <div class="mb-6">
        {{ form.day_of_week.label_tag }}
        {{ form.day_of_week }}
    </div>

    <div class="grid grid-cols-2 sm:grid-cols-4 md:grid-cols-6 lg:grid-cols-7 gap-1">
    <div class="border-2 border-gray-400 p-1">
        <div class="mb-2">
            <span>First subject <br></span>
            {{form.subject_one}}
        </div>
    
        
    </div>

    <div class="border-2 border-gray-400 p-1">
        <div class="mb-2">
            <span>Second subject <br></span>
            {{form.subject_two}}
        </div>
    
        
    </div>

    <div class="border-2 border-gray-400 p-1">
        <div class="mb-2">
            <span>Third subject <br></span>
            {{form.subject_three}}
        </div>
    
        
    </div>

    <div class="border-2 border-gray-400 p-1">
        <div class="mb-2">
            <span>Fourth subject <br></span>
            {{form.subject_four}}
        </div>
    
        
    </div>

    <div class="border-2 border-gray-400 p-1">
        <div class="mb-2">
            <span class="font-medium">Break Time <br></span>
        </div>
    </div>

    <div class="border-2 border-gray-400 p-1">
        <div class="mb-2">
            <span>Fifth subject <br></span>
            {{form.subject_five}}
        </div>
    
        
    </div>

    <div class="border-2 border-gray-400 p-1">
        <div class="mb-2">
            <span>Sixth subject <br></span>
            {{form.subject_six}}
        </div>
    
        
    </div>

    <div class="border-2 border-gray-400 p-1">
        <div class="mb-2">
            <span>Seventh subject <br></span>
            {{form.subject_seven}}
        </div>
    
        
    </div>
    </div>

    <button type="submit" name="create_timetable" class="bg-blue-500 p-3 rounded-lg mt-6 text-white hover:bg-blue-300"><i class="fa-solid fa-plus"></i><span class="pl-1">Create Timetable</span></button>
</form>
</div>
</div>

{% endblock section %}
