{% extends 'dashboards/all_admin_pages/base.html' %}
{% load static %}
{% block section %}



<p class="m-3 p-5 mb-3 rounded-lg font-medium text-gray-600" style="background-color: #F9F9F9;">EDIT TIMETABLE</p>
<div class="text-black flex  justify-center m-3 rounded-lg p-3" style="background-color: #F9F9F9;">
    <form action="{%url 'edit_timetable' table_id=table.id%}" method="post">
        {% csrf_token %}
        <div class="mb-6">
            {{ table_form.class_info.label_tag }}
            {{ table_form.class_info }}
        </div>
        <div class="mb-6 bg-blue-400 rounded-lg p-1">
            <span class="text-white">{{ table_form.day_of_week.label_tag }}</span>
            {{ table_form.day_of_week }}
        </div>
        <div class="grid grid-cols-2 sm:grid-cols-4 md:grid-cols-6 lg:grid-cols-7 gap-1">
            <div class="border-2 border-gray-400 rounded-lg p-1 bg-blue-400">
                <div class="mb-2">
                    <span class="text-white font-medium">First subject <br></span>
                    {{ table_form.subject_one }}
                </div>
            </div>
            
            <div class="border-2 border-gray-400 rounded-lg p-1 bg-blue-400">
                <div class="mb-2">
                    <span class="text-white font-medium">Second subject <br></span>
                    {{ table_form.subject_two }}
                </div>
            </div>

            <div class="border-2 border-gray-400 rounded-lg p-1 bg-blue-400">
                <div class="mb-2">
                    <span class="text-white font-medium">Third subject <br></span>
                    {{ table_form.subject_three }}
                </div>
            </div>

            <div class="border-2 border-gray-400 rounded-lg p-1 bg-blue-400">
                <div class="mb-2">
                    <span class="text-white font-medium">Fourth subject <br></span>
                    {{ table_form.subject_four }}
                </div>
            </div>

            <div class="border-2 border-gray-400 p-1 rounded-md bg-blue-400">
                <div class="mb-2">
                    <span class="font-medium text-white">Break Time <br></span>
                </div>
            </div>

            <div class="border-2 border-gray-400 rounded-lg p-1 bg-blue-400">
                <div class="mb-2">
                    <span class="text-white font-medium">Fifth subject <br></span>
                    {{ table_form.subject_five }}
                </div>
            </div>

            <div class="border-2 border-gray-400 rounded-lg p-1 bg-blue-400">
                <div class="mb-2">
                    <span class="text-white font-medium">Sixth subject <br></span>
                    {{ table_form.subject_six }}
                </div>
            </div>
            
            <div class="border-2 border-gray-400 rounded-lg p-1 bg-blue-400">
                <div class="mb-2">
                    <span class="text-white font-medium">Seventh subject <br></span>
                    {{ table_form.subject_seven }}
                </div>
            </div>
        </div>
        <div class="mt-4">
            <button type="submit" class="bg-blue-500 text-white m-1  p-2 rounded-md md:text-normal text-sm hover:bg-blue-300"><i class="fa-regular fa-pen-to-square"></i><span class="pl-1">Update Timetable</span></button>
            <a href="{% url 'class_details' user_id=table.class_info.id %}" class="bg-blue-500 text-white m-1 p-2 rounded-md mb-3 md:text-normal text-sm hover:bg-blue-300"><i class="fa-solid fa-arrow-left"></i><span class="pl-1">Go Back</span></a>        
        </div>
        </form>
    </div>
  
{%endblock section%}