{% extends 'dashboards/all_admin_pages/base.html' %}
{% load static %}
{% block section %}



<div class="text-black flex flex-col items-center justify-center m-3 rounded-lg p-3" style="background-color: #F9F9F9;">
    <h1 class="text-3xl font-bold my-8">Edit Students Information</h1>
    <form action="{% url 'edit_student' user.id %}" method="post" enctype="multipart/form-data" class="rounded-lg w-full max-w-md">
        {% if form.non_field_errors %}
            <h3 class="text-2xl font-semibold text-primary text-center mb-6">{{ form.non_field_errors }}</h3>
        {% endif %}
        {% csrf_token %}

        <div class="mb-4">
            {{ form.student_class.label_tag }}
            {{ form.student_class }}
          </div>
      
          <div class="mb-6">
            {{ form.phone_number.label_tag }}
            {{ form.phone_number }}
          </div>
          <div class="mb-6">
            {{ form.home_address.label_tag }}
            {{form.home_address}}
          </div>
      
          <div class="mb-4">
            {{ form.parent_or_guardian_name.label_tag }}
            {{form.parent_or_guardian_name}}
          </div>
      
          <div class="mb-4">
            {{ form.parent_or_guardian_phone_number.label_tag }}
            {{form.parent_or_guardian_phone_number}}
          </div>
      
          <div class="mb-4">
            {{ form.parent_email.label_tag }}
            {{form.parent_email}}
          </div>
  
      <button class="bg-blue-500 text-white py-2 px-4 rounded-md mb-3">Edit</button>
    </form>
  </div>

{%endblock section%}