{%extends 'dashboards/all_admin_pages/base.html'%}
{%load static%}
{%block section%}

<!-- CONTENT -->
        <main>
            <div class="head-title">
                <div class="left">
                    <h1>Dashboard</h1>
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">Dashboard</a>
                        </li>
                        <li><i class='bx bx-chevron-right'></i></li>
                        <li>
                            <a class="active" href="#">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
            <ul class="box-info">
                <li>
                    <i class='bx bxs-user-rectangle'></i>
                    <span class="text">
                        <h3>{{all_teachers}}</h3>
                        <p>Total Teachers</p>
                    </span>
                </li>
                <li>
                    <i class='bx bxs-group' ></i>
                    <span class="text">
                        <h3>{{all_students}}</h3>
                        <p>Total Students</p>
                    </span>
                </li>
                <li>
                    <i class='bx bxs-user-circle' ></i>
                    <span class="text">
                        <h3>{{all_users}}</h3>
                        <p>Total Users</p>
                    </span>
                </li>
            </ul>
            
            <div class="table-data">
                <div class="order">
                    <div class="head">
                        <h3>Recent Users</h3>
                        <i class='bx bx-search'></i>
                        <i class='bx bx-filter'></i>
                    </div>
                    {% if messages %}
                    {% for message in messages %}
                    <h3 class="bg-blue-100 text-blue-500 p-3 text-normal font-normal mb-6">{{ message }}</h3>
                    {% endfor %}
                    {% endif %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Users</th>
                                <th class="pr-2">Role</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for pending_user in pending_users %}
                            <tr>
                                <td>
                                    <a href="{{ pending_user.profile_photo.url }}" data-lightbox="user-image" data-title="{{ pending_user.first_name }}">
                                        <img src="{{ pending_user.profile_photo.url }}" alt="{{ pending_user.first_name }}" class="thumbnail">
                                    </a>                                    
                                    
                                    <p class="pl-5">{{ pending_user.first_name }} {{ pending_user.last_name }}</p>
                                </td>
                                <td>
                                    <p class="pr-2">{{ pending_user.role }}</p>
                                </td>
                                <td>
                                    <a href="{%url 'approve_user' user_id=pending_user.id%}" class="status completed">Approve</a>
                                </td>
                                <td>
                                    <div class="px-3">

                                        <a href="{%url 'decline_users' user_id=pending_user.id%}" class="status bg-red-500">Decline</a>
                                    </div>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="3">No pending users.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    
                </div>
                <div id="dialog" title="Todos Tasks" class="bg-blue-100">
                    <form action="" method="post">
                        {%csrf_token%}
                        <p class="md:text-lg text-md font-medium text-gray-700 mb-1">{{form.name.label_tag}}</p>
                        {{form.name}}
                        <button class="bg-blue-500 text-white py-1 px-2 rounded-lg md:text-lg text-normal md:font-medium font-normal mb-1 mt-3 hover:bg-blue-300 hover:text-white" type="submit"><i class="fa-solid fa-cloud-arrow-up"></i><span class="pl-1">Create task</span></button>
                    </form>
                </div>
                <div class="todo">
                    <div class="head">
                        <h3>Todos</h3>
                        <i class='bx bx-plus' title="add todo task"></i>
                        <i class='bx bx-filter'></i>
                    </div>
                    <ul class="todo-list">
                        {% if tasks %}
                            {% for task in tasks %}
                                <li class="completed">
                                    <p>{{ task.name }}</p>
                                    <a href="{% url 'delete_todo' task_id=task.id %}" title="delete todo task">
                                        <i class="fa-solid fa-trash-can" style="color: #e01a1a;"></i>
                                    </a>
                                </li>
                            {% empty %}
                                <li class="completed">
                                    <p>No tasks. Click the plus(<i class='bx bx-plus'></i>) icon to add a task.</p>
                                </li>
                            {% endfor %}
                        {% else %}
                            <li class="completed">
                                <p>No tasks. Click (<i class='bx bx-plus'></i>) the plus icon to add a task.</p>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </main>
        <!-- END OF MAIN -->
    </section>
    <!-- END OF CONTENT -->

{%endblock section%}